.landingheader {
    background-image: none;
}

@media (max-width: 900px) {
    .logo {
      position: absolute;
      width: 120px;
      margin-top: 13px;
      margin-left: 50px;
      z-index: 1;
    }
    .landingheader {
      background-color: #4B5842;
      height: 7vh;
    }
  }
  @media (min-width: 900px) {
    .landingheader {
      background-color: #4B5842;
      height: 10vh;
    }
    .logo {
      width: 200px;
      margin-top: 20px;
      margin-left: 50px;
    }
  }
.dashboardwrapper {
    min-height: 90vh;
    background-color: #4B5842;
    background-image: url(https://localhost:5002/img/Pattern.75094175.png);
    background-size: contain;
    height: 100%;
    width: 100%;
}
.dashboardcontentbg {
    min-height: 90vh;
    width: 80vw;
    height: 100%;
    background-color: #DADDD8;
    margin: auto;
    border-radius: 12px 12px 12px 12px;
}
.dashboardcontent {
    padding: 10px;
    color: black;
}
.footer {
    height: 10vh;
}