<script lang="ts">
  import Footer from "../components/Footer.vue";
  export default {
    name: "ContactView",
    components: { Footer },
    setup(){
      window.scrollTo(0,0);
    }
  }
</script>


<template>
    <div class="wrapper">
        <div class="landingheader">
            <img id="headerbg" src="@/assets/Vector.svg">
            <div class="fancybgfood">
                <img src="@/assets/headerbgstuff/bgimage1.png" class="bgimage1" />
                <img src="@/assets/headerbgstuff/bgimage2.png" class="bgimage2" />
                <img src="@/assets/headerbgstuff/bgimage3.png" class="bgimage3" />
                <img src="@/assets/headerbgstuff/bgimage4.png" class="bgimage4" />
                <img src="@/assets/headerbgstuff/bgimage5.png" class="bgimage5" />
                <img src="@/assets/headerbgstuff/bgimage6.png" class="bgimage6" />
                <img src="@/assets/headerbgstuff/bgimage7.png" class="bgimage7" />
                <img src="@/assets/headerbgstuff/bgimage8.png" class="bgimage8" />
                <img src="@/assets/headerbgstuff/bgimage9.png" class="bgimage9" />
            </div>
            <RouterLink to="/">
                <img alt="Ristoranti Logo" class="logoBig" src="@/assets/RistorantiWhite.svg" />
            </RouterLink>
            <nav>
                <ul>
                    <RouterLink to="/">HOME</RouterLink>
                    <RouterLink to="/reservieren">RESERVIEREN</RouterLink>
                    <RouterLink to="/kontakt">KONTAKT</RouterLink>
                </ul>
            </nav>

            <div class="content">
              <div class="contactText">
                <h2>Kontakt</h2>
                <h3>Berufskolleg Beckum des Kreises Warendorf</h3>
                <h3>Hansaring 11</h3>
                <h3>59269 Beckum</h3>
                <div style="display: flex;">
                  <h3>E-Mail: </h3> <a href="mailTo:reservierung@ristorantiapp.de">reservierung@ristorantiapp.de</a>
                </div>
                <div style="display: flex;">
                  <h3>Telefon: </h3> <a href="tel:+49 2521 912-0">+49 2521 912-0</a>
                </div>


              </div>
              <div class="MapWrapper">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d617.5555354413102!2d8.040057035582336!3d51.74726138569879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f7b2748c80b9ac6!2sBerufskolleg%20Beckum%20des%20Kreises%20Warendorf%20Europaschule!5e0!3m2!1sde!2sde!4v1654523023218!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
            <div class="footer">
            <Footer />
        </div>
        </div>
    </div>
</template>

<style scoped>
    @import '@/assets/scss/appstyles.scss';

    .booknowline {
        padding-left: 6vw;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    .landingheader {
        box-shadow: 0px 5px 50px 15px rgb(0,0,0,0.3); 
        height: auto;
    }

    .wrapper {
        background-color: #4B5842;
        background-image: url("@/assets/Pattern.png");
        background-size: contain;
    }

    .content {
      padding-top: 300px;
      font-family: Nunito;
      margin: 0 auto;
      width: 70%;
      height: 90%;
      background-color: #384231;
      box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 40%);
      color: white;
      padding-inline: 60px;
      display: grid;
      justify-items: stretch;
      align-items: center;
    }


    .contactText h2 {
      font-weight: 600;
      font-size: 35px;
      line-height: 55px;
      text-align: center;
    }

    .contactText h3 {
      font-weight: 200;
      font-size: 25px;
      line-height: 44px;
    }

    .contactText a {
      font-weight: 200;
      font-size: 25px;
      line-height: 44px;
      color: #8FB339;
      padding-left: 5px;
    }

    .guideRow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .guideRow h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: 55px;
    }

    .MapWrapper {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding-bottom: 50px;
    }

    .MapWrapper iframe{
        height: 400px;
        width: 100%;
    }

    .schedule {
        border: white;
        border-style: solid;
        width: fit-content;
        display: flex;
        margin: 50px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .schedule h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
    }

    .schedule h2 {
        font-weight: 200;
        font-size: 24px;
        line-height: 33px;
    }

    .footer{
        margin: auto;
        padding-bottom: 35px;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        color: white;
    }

</style>