<script lang="ts">
    import Register from '@/components/Register.vue';
    import { useStore } from 'vuex';
    import { defineComponent, onMounted, computed, inject, ref } from 'vue';
    import { useRouter } from "vue-router";
    import { useToast } from "vue-toastification";

    const toastHandler = useToast();
    export default defineComponent({
        name: "UserManagementView",
        components: {Register},
        setup() {
            window.scrollTo(0,0);
            const hostname = inject('hostname');
            const store = useStore();
            const router = useRouter();
            const users = ref<{userId: number, name: string, email: string, roleId: number}[]>();
            const auth = computed(() => store.state.authenticated);
            const logout = async () => {
                await fetch(hostname + '/api/auth/logout', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    credentials: 'include',
                });
                await store.dispatch('setAuth', false);
                await router.push({ path: '/' });
            }
            onMounted(async () => {
                try {
                    //const response =
                    await fetch(hostname + '/api/auth/user', {
                        headers: { 'Content-Type': 'application/json' },
                        credentials: 'include'
                    });
                    //const content = await response.json();

                    await store.dispatch('setAuth', true);
                } catch (e) {
                    await store.dispatch('setAuth', false);
                    await router.push({ path: '/' });
                }
            });
            const fetchUsers = async () => {
                await fetch(hostname+'/api/data/users', {
                    headers: { 'Content-Type': 'application/json' },
                    credentials: 'include'
                })
                    .then(res => res.json())
                    .then(data => users.value = data)
                    .catch(err => console.log(err.message));
            }
            fetchUsers();
                
            const deleteUser = async (user) => {
                let body:{userID: number} = {userID:user.userId};
                var response = await fetch(hostname + '/api/auth/delete', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    credentials: 'include',
                    body: JSON.stringify(body)
                });
                if(response.status==200){
                    toastHandler.success("User wurde erfolgreich gelöscht.", {
                        timeout: 5000,
                        closeOnClick: true,
                        pauseOnFocusLoss: true,
                        pauseOnHover: true,
                        draggable: true,
                        draggablePercent: 0.6,
                        showCloseButtonOnHover: false,
                        hideProgressBar: true,
                        closeButton: "button",
                        icon: true,
                        rtl: false
                    });
                    await fetchUsers();
                }
            }
            return {
                auth,
                logout,
                users,
                deleteUser,
                fetchUsers
            }
        },
        methods: {
            onUserCreated(){
                this.fetchUsers();
            }
        }
    })
</script>

<template>
    <div v-if="auth">
        <div class="landingheader">
            <RouterLink to="/">
                <img alt="Ristoranti Logo" class="logo" src="@/assets/RistorantiWhite.svg" />
            </RouterLink>
            <nav>
            <ul>
                <RouterLink to="/dashboard">DASHBOARD</RouterLink>
                <RouterLink to="/dashboard/user">BENUTZERKONTEN</RouterLink>
                <a v-on:click="logout">ABMELDEN</a>
            </ul>
            </nav>
        </div>
        <div class="dashboardwrapper">
            <div class="dashboardcontentbg">
                <div class="dashboardcontent">
                    <article class="leaderboard">
                        <header>

                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" class="leaderboard__icon">
                            <g>
                                <g>
                                    <path d="M511.853,319.279c-0.085-2.283-0.384-4.565-1.216-6.763l-64-170.667c-3.115-8.32-11.072-13.845-19.968-13.845h-64
                                            c-11.797,0-21.333,9.557-21.333,21.333s9.536,21.333,21.333,21.333h49.195l48,128h-97.195c-11.797,0-21.333,9.557-21.333,21.333
                                            v42.667H170.669v-42.667c0-11.776-9.536-21.333-21.333-21.333H52.119l48-128h49.216c11.797,0,21.333-9.557,21.333-21.333
                                            s-9.536-21.333-21.333-21.333h-64c-8.896,0-16.853,5.525-19.989,13.845l-64,170.667c-0.811,2.197-1.131,4.48-1.195,6.763
                                            c-0.021,0.256-0.149,0.469-0.149,0.725v170.667c0,11.776,9.536,21.333,21.333,21.333h469.333
                                            c11.797,0,21.333-9.557,21.333-21.333V320.004C512.002,319.748,511.853,319.535,511.853,319.279z"/>
                                    <path d="M176.915,228.416l63.979,63.979c1.963,1.984,4.331,3.541,6.955,4.629c2.603,1.067,5.376,1.643,8.149,1.643
                                            s5.547-0.576,8.149-1.643c2.624-1.088,4.992-2.645,6.955-4.629l63.979-63.979c8.341-8.341,8.341-21.824,0-30.165
                                            c-8.341-8.341-21.824-8.341-30.165,0l-27.584,27.584V21.333C277.331,9.557,267.795,0,255.998,0s-21.333,9.557-21.333,21.333
                                            v204.501l-27.584-27.584c-8.341-8.341-21.824-8.341-30.165,0C168.574,206.592,168.574,220.075,176.915,228.416z"/>
                                </g>
                            </g>
                            </svg>

                            <h1 class="leaderboard__title"><span class="leaderboard__title--top">Benutzerkonten</span><span class="leaderboard__title--bottom">warten auf bestätigung</span></h1>
                        </header>
                        <ul>
                            <li v-for="user in users" :key="user.userId" class="users">
                                <div class="userscontent">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            Name: {{user.name}}
                                        </div>
                                        <div class="col-sm-3">
                                            E-Mail: {{user.email}}
                                        </div>
                                        <div class="col-sm-3">
                                            RoleId: {{user.roleId}}
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="btn-group float-end" role="group">
                                                <button v-if="user.userId!==1" v-on:click="deleteUser(user)" type="button" class="btn btn-labeled btn-cancel" >
                                                    Löschen
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <div v-if="users">
                                <p class="placeholdertxt" v-if="!users.length">Derzeit gibt es keine Nutzer</p>
                            </div>
                        </ul>
                    </article>
                    <Register @userCreated="onUserCreated"/>
                </div>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/dashboardstyle.scss';

.leaderboard {
  width: 100%;
  border-radius: 12px;
  background-color: #fafafa;
  border-radius: 12px 12px 12px 12px;
  padding-bottom: 10px;
  
  header {
    --start: 15%;
    
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(75, 88, 66, .33) 10%, rgba(75, 88, 66, .33) 17%), linear-gradient(to right, #657559, #4B5842);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    
    .leaderboard__title {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: calc(var(--start) * .75);
      transform: translateY(-50%);
      text-transform: uppercase;
      margin: 0;
      
      span {
        display: block;
      }
      
      &--top {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 6.5px;
      }
      
      &--bottom {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3.55px;
        opacity: .65;
        transform: translateY(-2px);
      }
    }
}
    
    .leaderboard__icon {
      fill: #fff;
      opacity: .35;
      width: 50px;
      position: absolute;
      top: 50%;
      left: var(--start);
      transform: translate(-50%, -50%);
    }
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    li {
        margin-bottom: 5px;
    }
}

.users {
        font-family: 'Nunito', sans-serif; font-size: 2.5vmin; font-weight: 400;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
        background-color: #fff;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        }
        .userscontent {
            padding-top: 0px;
            min-width: min-content;
            padding-left: 10px;
            padding-right: 10px;
            .icon{
                fill: #fff;
                opacity: .35;
                width: 25px;
                padding-right: 7px;
            }
        }
        
    }
    .btn-cancel {
        color: white;
        background-color: #a06b6b;
    }
    .btn-cancel:hover {
        background-color: #c08181;
    }

</style>